<div class="container-fluid fundoContainer">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Sistema de Usuário "{{title}}"</h1>
    </div>
  </div>
</div>

<div class="container-fluid fundoContainerGerencia">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Gerenciamento de Usuários</h3>
    </div>
  </div>
</div>
<div class="container-fluid" style="background:black;padding-top:10px;margin-bottom:10px;">
  <div class="row">
    <div class="col-md-12">
      <h5 class="text-center" style="color:white;">Retornando Dados de API Rest com : Angular e TypeScript;</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="card ">
    <h5 class="card-header text-center">Lista de Usuários</h5>
    <div class="card-body">
      <app-usuarios></app-usuarios>
    </div>
  </div>
</div>
<footer style="background:black;color:white;padding-top:20px;padding-bottom: 10px;font-size: 20px;">
  <p class="text-center">© 2020 Copyright - Desenvolvido por : <a href="http://www.tiagoribeirosantos.6te.net" target="_blank">Tiago Ribeiro Santos Programador</a> - Todos os Direitos Reservados. </p>
</footer>