.fundoContainer{
    padding-top:10px;
    padding-bottom: 10px;
    background:black;
}
h1{
    color:white;
    font-weight: 500;
}
.fundoContainerGerencia{
    padding-top: 10px;
    background:lightgray;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color:white;
    font-weight: bold;
}
a:hover{
    color:blue;
}