<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome de Usuário</th>
      <th scope="col">Email</th>
      <th scope="col">Nome Completo</th>
      <th scope="col">Telefone</th>
      <th scope="col">Site</th>
      <th scope="col">Nome da Empresa</th>
      <th scope="col">Mapa do Endereço do Usuário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.id}}</td>
      <td>{{usuario.username}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.name}}</td>
      <td>{{usuario.phone}}</td>
      <td>{{usuario.website}}</td>
      <td>{{usuario.company['name']}}</td>
      <td>{{usuario.address['geo']['lat']+','+usuario.address['geo']['lng']}}</td>
      
    </tr>
  </tbody>

</table>


<ng-template #mymodal let-modal>
 
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalhes Usuário</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome Completo</th>
            <th scope="col">Telefone</th>
            <th scope="col">Site</th>
            <th scope="col">Nome da Empresa</th>
            <th scope="col">Mapa do Endereço do Usuário</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.name}}</td>
            <td>{{usuario.phone}}</td>
            <td>{{usuario.website}}</td>
            <td>{{usuario.company['name']}}</td>
            <td>{{usuario.address['geo']['lat']+' '+usuario.address['geo']['lng']}}</td>


          </tr>
        </tbody>

      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  

</ng-template>