<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome de Usuário</th>
            <th scope="col">Email</th>
            <th scope="col">Detalhes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.email}}</td>
            <td>
                <button class="btn btn-warning btn-sm" (click)="open(mymodal)">
                    <i class="fa fa-info-circle"></i>
                </button>
            </td>

        </tr>
    </tbody>
   
</table>
<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      This is example from ItSolutionStuff.com
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>

